.autor{
    color: blue;
}
.mensaje{
    color: green;
}
.hora{
    color: brown;
}

.table{
    width: 80%;
    background-color: gray;
    border: 3px solid black;
}
.encabezado{
    color: greenyellow;
    background-color: #1A1E13;
}

.cuadroMensajes{
    border-radius: 20px;
    margin-bottom: 20px;
    width: 50%;
    background-color: #D8DC70;
}